<div class="form">
  <div class="cell">
  <form class="" action="/eateries" method="post">


    <label for="name">Name: </label>
    <br />
    <input type="text" name="name" placeholder="Name">
    <br />

    <label for="address">Address: </label>
    <br />
    <input type="text" name="address" placeholder="Address">
    <br />

    <label for="url">Website URL: </label>
    <br />
    <input type="text" name="url" placeholder="Website URL">
    <br />

    <label for="url">Logo URL: </label>
    <br />
    <input type="text" name="img_src" placeholder="Insert a logo URL">
    <br />

    <input class="button" type="submit" value="Create Eatery!">

  </form>
</div>
</div>
