<form class="" action="/eateries" method="post">


<label for="name"></label>
<input type="text" name="name" placeholder="name">

<label for="address"></label>
<input type="text" name="address" placeholder="address">

<label for="url"></label>
<input type="text" name="url" placeholder="website url">

<input class="button" type="submit" value="Create Eatery!">

</form>
