<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <meta charset="utf-8">
  <title>All the best deals!</title>
</head>
<body class="everything">
  <nav class="navbar">
    <ul class="navul">
      <li class="navli">
        <a class="a link" href="/eateries">Show all eateries</a>
      </li>
      <li class="navli">
        <a class="a link" href="/deals">Show all deals</a>
      </li>
    </ul>
  </nav>
  <section id="content">
    <%= yield %>
  </section>
</body>
<br />
</html>
