<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All the best deals!</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/eateries">All eateries</a>
        </li>
        <li>
          <a href="/deals">All deals</a>
        </li>
      </ul>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </body>
</html>
