<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta charset="utf-8">
    <title>All the best deals!</title>
  </head>
  <body>
    <nav>
      <ul class="nav">
        <li>
          <a id="a" href="/eateries">Show all eateries</a>
        </li>
        <li>
          <a id="a" href="/deals">Show all deals</a>
        </li>
      </ul>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </body>
</html>
