* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0px 5px 3px dimgray;
  background-color: black;
}

.navul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 400px;
  float: right;
}

.navli {
  flex: 1;
  text-align: center;
  font-size: 17px;
  justify-content: flex-end;
  border-left: solid 1px dimgray;
}

.a {
  text-decoration: none;
  padding: 16px 16px;
  color: #f2f2f2;
  display: block;
}

.everything {
  background: linear-gradient(to right, purple, blueviolet);
  color: white;
}

#content {
  display: flex;
  color: white;
  margin-top: 70px;
}

.link:link {
  color: white;
}

.link:visited {
  color: white;
}

.link:hover {
  color: pink;
}

.button {
  border-radius: 20px;
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.form {
  display: flex;
  flex: 1;
  width: 300px;
  margin: 0 auto;
  border: solid 1px;
  border-radius: 20px;
  padding: 30px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: row;
  border: solid 1px black;
  border-radius: 25px;
  margin-left: 10px;
  margin: 0 auto;
  padding: 10px;
}

.cell {
  flex: 1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  border: solid 1px black;
}

.list {
  list-style-type: none;
}

.createeatery {
  flex: 1;
  position: fixed;
  top: 50px;
  right: 50px;
}

.dealindex {
  width: 300px;
  margin: 0 auto;
  border: solid 1px;
  border-radius: 20px;
  padding: 30px;
}

.img {
  width: 250px;
  height: auto;
}

.imgcontainer {
  display: flex;
  flex: 1;
  height: 300px;
  justify-content: center;
  align-items: center;
}
